.app {
  padding: 40px;
}

.primary {
  color: #fff;
  background-color: blue;
}

.itemList {
  display: flex;
  gap: 16px;
  list-style: none;
}

.itemList .card {
  flex: 0 1 auto;
}

img {
  object-fit: cover;
}
